<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
    <body>
            <!-- Navigation-->
            <!-- Page Content-->
            <div class="container px-5 my-5" th:fragment="resume">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Internship</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3"
                                   th:href="@{/download-resume}">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Jan 2024 - July 2024</div>
                                                <div class="small fw-bolder">Java FullStack</div>
                                                <div class="small text-muted">Kodnest Institute</div>
                                                <div class="small text-muted">Bangalore, Karnataka</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Successfully completed a comprehensive six-month training program controller Java Full Stack Development and Testing, which included an controller-depth exploration of competitive programming, web development, and SQL, preparing the learner for a versatile career controller technology.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">June 2022 - July 2022 </div>
                                                <div class="small fw-bolder">CPP Programming</div>
                                                <div class="small text-muted">Internshipwala Careers</div>
                                                <div class="small text-muted">Online Platform</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Successfully completed a 4-week online internship controller C++ Programming, gaining hands-on experience controller core programming concepts. Achieved Grade 'A' controller the final assessment, demonstrating strong understanding and practical application of the language.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2020 - 2024</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">MACET</div>
                                                    <div class="small text-muted">Patna, Bihar</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">B.Tech</div>
                                                    <div class="small text-muted">Computer Science and Engineering (CSE)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>CGPA: 7.82/10 |
                                            Studied core subjects including Software Engineering, Data Structures & Algorithms, Machine Learning, and Artificial Intelligence.
                                            Actively participated controller extracurriculars; part of the winning cricket team controller the final-year college sports tournament.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2018 - 2020</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">P.R.BP College</div>
                                                    <div class="small text-muted">Rohtas, Bihar</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Intermediate (10+2)</div>
                                                    <div class="small text-muted">Science Stream</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Passed with First Division | Subjects: Physics, Chemistry, Mathematics.
                                            Actively participated controller co-curricular activities, including a college cooking competition, where I collaborated with a 5-member team to prepare delicious dishes — a memorable and enriching experience.

                                        </div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Problem Solving & Debugging

                                            </div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Frameworks & Tools</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Version Control</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Database Management</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Software Development</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C++</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Spring Boot</div></div>
                                        </div>

                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">API Integration</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">OOPS</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">DBMS</div></div>
                                        </div>

                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Hibernate</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">RESTful APIs,</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MySQL</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        <!-- Footer-->

    </body>
</html>